body 
{
    font-family: Verdana;
}
#box 
{
    background-color: #f60;
    width: 400px;
    border: 3px solid black;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    padding-bottom: 10px;
    float: left;
}
#box p 
{
    font-size: 18px;
    padding: 5px;
    margin: 0px;
    text-align: center;
}
#drop 
{
    width: 400px;
    height: 400px;
    /*background-image: url('upload.gif');*/
}
#status 
{
    width: 400px;
    height: 25px;
    font-size: 18px;
    color: black;
    padding: 5px;
     text-align: center;
}
#list 
{
    width: 210px;
    font-size: 10px;
    float: left;
    margin-left: 10px;
}
.addedIMG 
{
    width: 100px;
    height: 100px;
}
img
{
    max-width: 400px;
    text-align: center;
}